IDI_ICON1 ICON DISCARDABLE "qtenki.ico"

#include <windows.h>
#include "../common/usbtenki_version.h"
VS_VERSION_INFO	VERSIONINFO
FILEVERSION	USBTENKI_VERSION_NUM
PRODUCTVERSION	USBTENKI_VERSION_NUM
BEGIN
	BLOCK "StringFileInfo"
	BEGIN
		BLOCK "040904E4"
		BEGIN
			VALUE "CompanyName",	"Dracal technologies inc.\0"
			VALUE "FileDescription","qtenki executable\0"
			VALUE "FileVersion",	USBTENKI_VERSION_STR0
			VALUE "ProductName",	"QTenki (usbtenki)\0"
			VALUE "ProductVersion",	USBTENKI_VERSION_STR0
			VALUE "LegalCopyright",	USBTENKI_COPYRIGHT_QTENKI
		END
	END

	BLOCK "VarFileInfo"
	BEGIN
		VALUE "Translation", 0x409, 1252
	END
END
