[Baro]
useSensehat=0
myAltitude=167
# In meters
## For Dracal Precision instruments
useDracal=1
dracalPath=/usr/local/bin/usbtenkiget
dracalSwitches=-PinHG

[Influx]

user=[[Your influxdb user here]]
password=[[Your influx password here]]
database=[[your influx DB name]]
host=[[your influx host]]
port=8086

[Wunderground]
useWunderground=1
## set to zero if you don't want to send to wunderground
user=[[your wunderground user]]
password=[[your wunderground password]]

[Query]
## Replace with the influxDB measurements you want to use for each
thermometer="Acurite-6045M"
humiditystation="Acurite-6045M"
windstation="EcoWitt-WS68"
barostation="Dracal"
