[Baro]
useSensehat=1
myAltitude=140
# In meters
## For Dracal Precision instruments
useDracal=1
dracalPath=/usr/local/bin/usbtenkiget
dracalSwitches=-PinHG

[Influx]

user=
password=
database=
host=
port=8086

[Wunderground]
user=
password=

[Query]
thermometer="Acurite-5n1"
humiditystation="Acurite-5n1"
windstation="Acurite-5n1"
barostation="Dracal"
